##### Lambda Functions

In [1]:
f = lambda x : x ** 2

In [3]:
type(f)

function

In [4]:
f(10)

100

In [5]:
f(12)

144

##### map()

In [6]:
T = [10, 34, 45, 23, 89]

In [7]:
F = []
for t in T:
    F.append(t * 1.8 + 32)
print(F)

[50.0, 93.2, 113.0, 73.4, 192.20000000000002]

In [9]:
F = map(lambda t : t * 1.8 + 32, T)
list(F)

[50.0, 93.2, 113.0, 73.4, 192.20000000000002]

##### filter()

In [10]:
import random
rn = []
for i in range(100):
    rn.append(random.randint(1, 100))

In [11]:
rb_div_7 = []
for n in rn:
    if(n % 7 == 0):
        rb_div_7.append(n)
rb_div_7

[77, 14, 21, 70, 77, 70, 77, 49, 63, 7, 35, 28, 49, 14, 98, 28, 84]

In [13]:
rb_div_7 = filter(lambda n : (n % 7 == 0), rn)
list(rb_div_7)

[77, 14, 21, 70, 77, 70, 77, 49, 63, 7, 35, 28, 49, 14, 98, 28, 84]

##### zip()

In [16]:
T1 = ("Anil", "Sunil", "Raj")
T2 = (25, 35, 45)
dict(zip(T1, T2))

{'Anil': 25, 'Sunil': 35, 'Raj': 45}

In [17]:
D = {'Anil': 25, 'Sunil': 35, 'Raj': 45}

In [18]:
D.items()

dict_items([('Anil', 25), ('Sunil', 35), ('Raj', 45)])

In [19]:
list(zip(*D.items()))

[('Anil', 'Sunil', 'Raj'), (25, 35, 45)]

##### sort()

In [41]:
L = ["red", "green", "blue", "yellow"]

In [42]:
L.sort()
L

['blue', 'green', 'red', 'yellow']

In [43]:
L.sort(key=lambda x : x[-1])
L

['red', 'blue', 'green', 'yellow']

In [44]:
L = [("red", 1), ("green", 4), ("blue", 3), ("yellow", 2)]

In [46]:
L.sort()
L

[('blue', 3), ('green', 4), ('red', 1), ('yellow', 2)]

In [47]:
L.sort(key=lambda item : item[1])
L

[('red', 1), ('yellow', 2), ('blue', 3), ('green', 4)]

##### reduce()

In [20]:
from functools import reduce

In [21]:
L = [1, 2, 3, 4]

In [22]:
reduce(lambda a, b : a + b, L)

10

##### permutations and combinations

In [26]:
from itertools import permutations, combinations

In [30]:
s = "abcd"

In [31]:
list(permutations(s))

[('a', 'b', 'c', 'd'),
 ('a', 'b', 'd', 'c'),
 ('a', 'c', 'b', 'd'),
 ('a', 'c', 'd', 'b'),
 ('a', 'd', 'b', 'c'),
 ('a', 'd', 'c', 'b'),
 ('b', 'a', 'c', 'd'),
 ('b', 'a', 'd', 'c'),
 ('b', 'c', 'a', 'd'),
 ('b', 'c', 'd', 'a'),
 ('b', 'd', 'a', 'c'),
 ('b', 'd', 'c', 'a'),
 ('c', 'a', 'b', 'd'),
 ('c', 'a', 'd', 'b'),
 ('c', 'b', 'a', 'd'),
 ('c', 'b', 'd', 'a'),
 ('c', 'd', 'a', 'b'),
 ('c', 'd', 'b', 'a'),
 ('d', 'a', 'b', 'c'),
 ('d', 'a', 'c', 'b'),
 ('d', 'b', 'a', 'c'),
 ('d', 'b', 'c', 'a'),
 ('d', 'c', 'a', 'b'),
 ('d', 'c', 'b', 'a')]

In [33]:
list(combinations(s, 3))

[('a', 'b', 'c'), ('a', 'b', 'd'), ('a', 'c', 'd'), ('b', 'c', 'd')]

##### Counter()

In [34]:
from collections import Counter

In [35]:
text = "mary had a little little lamb"
words = text.split()
D = {}
for word in words:
    if word in D:
        D[word] = D[word] + 1
    else:
        D[word] = 1

In [36]:
print(D)

{'mary': 1, 'had': 1, 'a': 1, 'little': 2, 'lamb': 1}

In [38]:
Z = Counter(words)
print(Z)

Counter({'little': 2, 'mary': 1, 'had': 1, 'a': 1, 'lamb': 1})

##### itemgetter()

In [48]:
from operator import itemgetter

In [49]:
itemgetter(1)("apples")

'p'

In [50]:
itemgetter(2)(["apples", "bananas", "cherries", "dragon friuts"])

'cherries'

In [51]:
f = itemgetter(2)

In [52]:
type(f)

operator.itemgetter

In [53]:
f("monkeys")

'n'

In [54]:
L = [("red", 1), ("green", 4), ("blue", 3), ("yellow", 2)]

In [57]:
L.sort(key = lambda x : f(x[0]))

In [58]:
L

[('red', 1), ('green', 4), ('yellow', 2), ('blue', 3)]

##### statistics module

In [61]:
rn[:10]

[23, 45, 4, 23, 18, 22, 77, 4, 14, 45]

In [63]:
from statistics import mean, median, mode

In [64]:
mean(rn)

52.48

In [65]:
median(rn)

53.5

In [66]:
mode(rn)

64

##### datetime module

In [67]:
from datetime import datetime

In [68]:
t = datetime.now()

In [69]:
t

datetime.datetime(2022, 3, 8, 15, 38, 40, 64174)

In [71]:
t.day, t.month, t.year

(8, 3, 2022)

In [72]:
t.hour, t.minute, t.second

(15, 38, 40)

In [74]:
t.weekday()

1

In [75]:
f = "%d %B, %Y"
t.strftime(f)

'08 March, 2022'

In [76]:
t1 = datetime.now()

In [77]:
t1 - t

datetime.timedelta(seconds=192, microseconds=288572)